@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Ubuntu';
}

.bg-gen{
    background-image: url('../../public/blob-scene-haikei.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-login{
    background-image: url('../../public/circle-scatter-haikei.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-panel{
    /* background-image: url('../../public/wallpaper.svg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.word-wrap{
    max-width: 150px;
    margin: auto;
    overflow-wrap: break-word;
        
}
.mid-con{
    overflow-x: hidden;
}

@media (max-width: 900px) {
    .aside-nav{
        width: 100%;
    }
    .cont-med {
        flex-direction: column;
    }
}